.about-container {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9; 
    padding: 40px 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.about-content {
    max-width: 800px; 
    background-color: #fff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

.about-content h1 {
    color: #7171C4; 
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-content p {
    color: #555; 
    line-height: 1.8; 
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.highlight {
    color: #7171C4; 
    font-weight: 600;
}

@media (max-width: 768px) {
    .about-content h1 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 1rem;
    }
}
