.contact-container {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9; 
    padding: 40px 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    max-width: 800px; 
    background-color: #fff; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: left;
}

.contact-content h1 {
    color: #7171C4; 
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-content h2 {
    color: #7171C4; 
    
}

.contact-content p {
    color: #555; 
    line-height: 1.8; 
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.contact-details h3 {
    color: #7171C4; 
    margin-top: 10px;
}

.contact-details p {
    color: #555;
    margin-bottom: 15px;
    font-size: 1rem;
}

.social-media p {
    color: #555;
    font-size: 1rem;
}

.social-media a {
    color: #7171C4; 
    text-decoration: none;
}

.social-media a:hover {
    text-decoration: underline; 
}

@media (max-width: 768px) {
    .contact-content h1 {
        font-size: 2rem;
    }

    .contact-content p, .contact-details p {
        font-size: 1rem;
    }
}
