
.signupcontainer {
    display: flex;
    width:100%;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .signupcard {
    width: 90%;
    max-width: 400px; 
    max-height: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    background: white;
    border: 2px solid #f7d7e4;
    text-align: center;
    box-sizing: border-box;
    margin-top:45px;

  }
  
  .title {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Mali", cursive;
    font-size: 24px;
  }
  
  .input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #F5F5F5;
    border: none;
  }
  
  .signUpButton {
    width: 150px;
    background: linear-gradient(to right, #9b59b6, #3498db);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-transform: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    height: 40px;
  }
  
  .footerText {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
  }
  
  .loginLink {
    color: #9700FF;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
  }
  
  @media (max-width: 600px) {
    .card {
      width: 90%; 
    }
  
    .title {
      font-size: 20px; 
    }
  
    .input {
      padding: 8px; 
      font-size: 14px; 
    }
  
    .signUpButton {
      width: 100%; 
      padding: 12px; 
    }
  
    .footerText {
      font-size: 16px; 
    }
  
    .loginLink {
      font-size: 18px; 
    }
  }
  